# shared
POSTGRES_USER=pg
POSTGRES_PASSWORD=pgpw
JDBC_URL=jdbc:postgresql://postgres:5432/sakura
ANTHROPIC_API_KEY=change-me

# gatewayapi
GA_IMAGES_PATH=/mnt/sharedfs/images/
GA_UPLOAD_USERNAME=admin
GA_UPLOAD_PASSWORD=adminpw
GA_MAX_FILE_SIZE=1GB
GA_MAX_REQUEST_SIZE=1GB

# imageanalyzer
IA_JOB_CRON="0 0 12 * * *"
IA_ANTHROPIC_MODEL=claude-haiku-4-5-20251001

# dataanalyzer
DA_JOB_CRON="0 0 0 * * *"
DA_ANALYSIS_DAYS=30
DA_ANTHROPIC_MODEL=claude-haiku-4-5-20251001

# notification
N_MAIL_HOST=smtp.gmail.com
N_MAIL_PORT=587
N_MAIL_USERNAME=change-me
N_MAIL_PASSWORD=change-me
N_JOB_CRON="0 0 6 * * *"
N_RECIPIENT_EMAIL=change-me
